# 
/*

# 
!.gitignore
!README.md
!privacy_policy_ru.md
!AHT20+BMP280.jpg
!esp32_c3_mini.jpg
!flash_download_tool.zip
!conekt1.jpg
!conekt2.jpg
!METEO.jpg

# 
!firmware/
!firmware/meteo_station/
!firmware/meteo_station/build/
!firmware/meteo_station/build/esp32.esp32.lolin_c3_mini/
!firmware/meteo_station/build/esp32.esp32.lolin_c3_mini/*.bin
